@font-face {
  font-family: 'Liberator-Heavy';
  src: url('fonts/Liberator-Heavy.ttf');
}

@font-face {
    font-family: 'Liberator-Medium';
    src: url('fonts/Liberator-Medium.ttf');
}

@font-face {
    font-family: 'Liberator-Light';
    src: url('fonts/Liberator-Light.ttf');
}

.flow-marker {
    background-clip: padding-box;
    border-radius: 5px;
    background-color: rgba(0, 200, 238, 0.6);
}

.fill {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.brand-text {
    font-family: "Liberator-Heavy", sans-serif;
    font-size: 24px;
}

.nav-text {
    font-family: Liberator-Light, sans-serif;
}

.icon-text {
    font-family: FontAwesome;
}

.tiny-marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.tiny-marker-cluster div {
    width: 40px;
    height: 40px;
    margin-left: -5px;
    margin-top: -5px;

    text-align: center;
    border-radius: 20px;
    border: 5px solid black;
    font: 22px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}
.tiny-marker-cluster span {
    line-height: 40px;
    color: white;
}