@font-face {
    font-family: 'Liberator-Heavy';
    src: url('fonts/Liberator-Heavy.ttf');
}

@font-face {
    font-family: 'Liberator-Medium';
    src: url('fonts/Liberator-Medium.ttf');
}

@font-face {
    font-family: 'Liberator-Light';
    src: url('fonts/Liberator-Light.ttf');
}

@font-face {
    font-family: 'Borda';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/borda.eot');
    src: url('fonts/borda.eot?#iefix') format('embedded-opentype'),
    url('fonts/borda.woff2') format('woff2'),
    url('fonts/borda.woff') format('woff'),
    url('fonts/borda.ttf') format('truetype');
}

@font-face {
    font-family: 'Borda';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/borda-semibold.eot');
    src: url('fonts/borda-semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/borda-semibold.woff2') format('woff2'),
    url('fonts/borda-semibold.woff') format('woff'),
    url('fonts/borda-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Borda';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/borda-bold.eot');
    src: url('fonts/borda-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/borda-bold.woff2') format('woff2'),
    url('fonts/borda-bold.woff') format('woff'),
    url('fonts/borda-bold.ttf') format('truetype');
}

.brand-text {
    font-family: Borda, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.nav-text {
    font-family: Borda, sans-serif;
    font-weight: 600;
}

.icon-text {
    font-family: FontAwesome;
}

* {
    font-family: Borda, sans-serif;
    font-weight: 600;
}